@import "tailwindcss";
@plugin "daisyui";

@layer base {
  #root {
    @apply min-h-screen flex flex-col;
  }
  body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #f8fafc 0%, #e0e7ff 100%);
    color: #22223b;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4 w-full max-w-[1100px];
  }
  .btn-error {
    @apply bg-red-500 text-white hover:bg-red-700;
  }
}